<vwc-top-app-bar-fixed alternate="true">
  <span slot="title" id="title">Big Game Chill Zone</span>
  <% if @name == @moderator_name  %>
    <span slot="actionItems" id="mode-name">Chill Mode</span>
    <vwc-switch slot="actionItems"></vwc-switch>
  <% else %>
    <span slot="actionItems"><%= @moderator_name %> is the host</span>
  <% end %>
</vwc-top-app-bar-fixed>

<script>
  let toggleParticipants = (participants, state) => {
    const title = document.querySelector('#title');
    const mode_name = document.querySelector('#mode-name');
    Object.entries(participants).forEach(participant => {
      if (state === "chill"){
        title.innerHTML = "Big Game Live!";
        mode_name.innerHTML = "Watch Mode"
        room.setLayoutMode("active-speaker");
      } else if (state === "watch") {
        title.innerHTML = "Big Game Chill Zone";
        mode_name.innerHTML = "Chill Mode";
        room.setLayoutMode("grid")
      } else {
        console.log("Error in state of toggleParticipants")
      }
    })
  }

  const switch_btn = document.querySelector('vwc-switch');
  switch_btn.addEventListener('change', (event) => {
    if (event.target.checked){
      room.startScreensharing("roomContainer");
      toggleParticipants(room.participants, "chill");
    }
    else if (!event.target.checked){
      room.stopScreensharing("roomContainer");
      toggleParticipants(room.participants, "watch");
    }
    else{
      console.log("Error in Switch Button Listener");
    }
  })
</script>
