<div class="toolbar">

  <!-- Mute all / Unmute all -->
    <vwc-icon-button icon="audio-max-solid" shape="circled" layout="filled" id="mute-all" class="white-border"></vwc-icon-button>
    <vwc-icon-button icon="audio-off-solid" shape="circled" layout="filled" id="unmute-all" class="hidden white-border"></vwc-icon-button>
    <vwc-tooltip anchor="mute-all" text="Mute All" corner="top" id="mute-all-tooltip"></vwc-tooltip>
    <vwc-tooltip anchor="unmute-all" text="Un-Mute All" corner="top" id="unmute-all-tooltip"></vwc-tooltip>

  <!-- Mute self / Unmute self -->
  <vwc-action-group layout="outlined" shape="pill" class="vvd-scheme-alternate">
    <vwc-icon-button icon="mic-mute-solid" shape="circled" layout="ghost" id="mute-self" class="vvd-scheme-alternate" ></vwc-icon-button>
    <vwc-icon-button icon="microphone-2-solid" shape="circled" layout="ghost" id="unmute-self" class="hidden vvd-scheme-alternate"></vwc-icon-button>
    <vwc-tooltip anchor="mute-self" text="Disable Mic" corner="top" id="mute-self-tooltip"></vwc-tooltip>
    <vwc-tooltip anchor="unmute-self" text="Enable Mic" corner="top" id="unmute-self-tooltip"></vwc-tooltip>
    <span role="separator"></span>
    <vwc-select appearance="ghost" id="audio-input" class="select-max-width">
      <vwc-list-item
        mwc-list-item=""
        tabindex="0"
        aria-disabled="false"
        role="option"
        aria-selected="true"
        selected
        disabled
      >
        Select one
      </vwc-list-item>
    </vwc-select>
  </vwc-action-group>



  <!-- Disable camera / Enable camera -->
  <vwc-action-group layout="outlined" shape="pill" class="vvd-scheme-alternate">
    <vwc-icon-button icon="video-off-solid" shape="circled" layout="ghost" id="hide-self" class="vvd-scheme-alternate" ></vwc-icon-button>
    <vwc-icon-button icon="video-solid" shape="circled" layout="ghost" id="unhide-self" class="hidden vvd-scheme-alternate"></vwc-icon-button>
    <vwc-tooltip anchor="hide-self" text="Disable Camera" corner="top" id="hide-self-tooltip"></vwc-tooltip>
    <vwc-tooltip anchor="unhide-self" text="Enable Camera" corner="top" id="unhide-self-tooltip"></vwc-tooltip>
    <span role="separator"></span>
    <vwc-select appearance="ghost" class="select-max-width" id="video-input">
      <vwc-list-item
        mwc-list-item=""
        tabindex="0"
        aria-disabled="false"
        role="option"
        aria-selected="true"
        selected
        disabled
      >
        Select one
      </vwc-list-item>
    </vwc-select>
  </vwc-action-group>

  <!-- Select Audio Output -->
  <vwc-action-group layout="outlined" shape="pill" class="vvd-scheme-alternate" id="audio-output-target">
    <vwc-tooltip anchor="audio-output-target" text="Select Audio Output" corner="top" id="audio-output-tooltip"></vwc-tooltip>
    <vwc-icon-button icon="headset-solid" shape="circled" layout="ghost" class="vvd-scheme-alternate"></vwc-icon-button>
    <span role="separator"></span>
    <vwc-select appearance="ghost" id="audio-output" class="select-max-width">
      <vwc-list-item
        mwc-list-item=""
        tabindex="0"
        aria-disabled="false"
        role="option"
        aria-selected="true"
        selected
        disabled
      >
        Select one
      </vwc-list-item>
    </vwc-select>
  </vwc-action-group>
</div>

