// Place all the styles related to the Video controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// Home Page Styles
  .card-wrapper{
    display: flex;
  }
  vwc-card{
    margin: auto;
    padding: 10%;


  }    #box{
      padding: 50px 100px;
    }

  form {
      display: grid;
      gap: 20px;
    }
    .controls {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
    }

// Video Express Styles
#roomContainer {
  width: 100vw;
  height: calc(100vh - 130px);
  position: relative;
}
#roomContainer > .OT_publisher {
  top: 25px;
  right: 25px;
  position: absolute;
  border-radius: 10px;
}
#roomContainer > .OT_screenshare {
  top: 25px;
  left: 25px;
  position: absolute;
  border-radius: 10px;
}




// toolbar styles
.toolbar{
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 550px;
  background-color: var(--vvd-color-primary);
  padding: 10px;
  border-radius: 8px 8px 0 0;
}

.hidden{
  display: none;
}

.white-border{
  border: 2px solid white;
  border-radius: 50%;
}

.select-max-width{
  max-width: 75px;
}

vwc-tooltip {
  --tooltip-inline-size: 100px;
  text-align: center;
}

